/*background*/
body {
    background-color: #030;	/*cf1*/
}

/*links*/
a {
    color: #b6b;	/*cs1*/
}

/*boxes*/
.boxes > div > div {
	border-color: #090;	/*cf2*/
    	background-color: #363;	/*cf3*/
}

/*headings*/
.title {
	background-color: #3b3;	/*cs2*/
	color: #bfb;	/*cs3*/
}

/*text*/
.content {
	color: #bfb;	/*cr1*/
}

/*textareas*/
input {
	background-color: #696;	/*cs4*/
	transition: background-color 0.3s;
}
input:hover {
	background-color: #3b3;	/*cs2*/
}
input:focus {
	background-color: #0f0;	/*cs5*/
}

/*buttons*/
#calculateButton, #defaultButton, #showDriej, #showCustom {
	background-color: #363;	/*cf3*/
	border-color: #090;	/*cf2*/
	transition: background-color 0.2s, color 0.2s, border-color 0.2s;
	color: #bfb;	/*cr1*/
}
#calculateButton:hover, #defaultButton:hover, #showDriej:hover, #showCustom:hover {
	background-color: #3b3;	/*cs2*/
	color: #0f0;	/*cs5*/
}
#calculateButton:active, #defaultButton:active, #showDriej:active, #showCustom:active {
	border-color: #3b3;	/*cs2*/
	background-color: #0f0;	/*cs5*/
	color: #b6b;	/*cs1*/
}

/*extend*/
#showAdvanced {
	background-color: #363;	/*cf3*/
	color: #bfb;	/*cr1*/
}

/*horizontal*/
hr {
	background: #bfb;	/*cr1*/
}
